# Terraform directories and files
**/.terraform/*
**/terraform-provider*/*
*.tfstate
*.tfstate.*
*.terraform*
crash.log

# Files that may contain secrets
terraform.tfvars
*kube_config.yml*
*-ssh_private_key.pem*
*-ssh_public_key.pem*
**/sles_startup_script.sh
**/default.ipxe
**/create_cloud_config.yaml
**/join_cloud_config.yaml
**/harvester_startup_script.sh
**/vlanx.xml
projects/harvester-ops/network-creation/vlan*

# Temporary files
**/*.swp
.DS_Store
