## -- Specifies the prefix added to the names of all VMs.
vm_prefix = "demo-tf"

## -- Specifies the number of VM instances to be created.
vm_count = 1

## -- Specifies the namespace where the VMs will be created.
vm_namespace = "default"

## -- Specifies the username used for SSH login.
ssh_username = "ubuntu"

## -- Specifies the password used for SSH login.
ssh_password = null

## -- Specifies the number of CPU cores allocated to each VM.
cpu = 2

## -- Specifies the amount of memory allocated to each VM, in GB.
memory = 4

## -- Specifies the name of the Harvester VM network that was created.
network_name = ""

## -- Specifies the namespace in which the Harvester image was created.
image_namespace = "default"

## -- Specifies the OS image name.
image_name = "ubuntu22"

## -- Specifies the size of the root disk attached to each VM, in GB.
os_disk_size = 25

## -- Specifies the size of the data disk attached to each VM, in GB.
data_disk_size = 25

## -- Specifies a custom startup script to be executed when the VM is initialized.
startup_script = null

## -- Specifies the URL of the Harvester cluster API.
harvester_url = ""

## -- Specifies the full path where the Kubeconfig file is located.
kubeconfig_file_path = ""

## -- Specifies the name of the Kubeconfig file used to access the Harvester cluster.
kubeconfig_file_name = ""
